<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757887202053-0sv8gc2foaii9c9b16m254od3utrv2is.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757887202053-0sv8gc2foaii9c9b16m254od3utrv2is</string>
	<key>API_KEY</key>
	<string>AIzaSyArYAsXv3QOvaRcPHK05gO21iPiHS03XmY</string>
	<key>GCM_SENDER_ID</key>
	<string>757887202053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lightphoenix.takehair</string>
	<key>PROJECT_ID</key>
	<string>takehair-1574891151044</string>
	<key>STORAGE_BUCKET</key>
	<string>takehair-1574891151044.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757887202053:ios:a0363f3efdac6b10993d6c</string>
	<key>DATABASE_URL</key>
	<string>https://takehair-1574891151044.firebaseio.com</string>
</dict>
</plist>